{% extends 'Usuario/base/base.html' %} 
{% load static %}

{% block titulo_pagina %} Dulce Despensa - Iniciar Sesión {% endblock %}
{% block content %}


<div class="container" style="justify-content: center;">
    <div class="row">
        <div id="registro" class="jumbotron mt-5">
            <br>
            <h1 class="display">Iniciar Sesión</h1><br>
            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"> Inicia Sesión con Facebook</a>
            <form method="POST" id="formulario">
                {% csrf_token %}

                <div class="form-group">
                    <label for="username">Nombre de Usuario</label><br>
                    <input name="username" class="form-control" type="text" autofocus />
                    <div class="bg-danger mt-1">{{ form.errors.username }}</div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label><br>
                    <input name="password" class="form-control" type="password" />
                    <div class="bg-danger mt-1">{{ form.errors.password }}</div>
                </div>

                {% if form.non_field_errors %}
                <div class="form-group">
                    <div class="bg-danger mt-1 p-2">Login incorrecto!</div>
                </div>
                {% endif %} {{form.non_field_errors}}

                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Enviar" />
                </div>

            </form>
            <div>

            </div>
            <div>
                <p>¿No tienes una cuenta? <a href={% url 'registrar' %}>Regístrate aquí</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}