{% extends 'base.html' %}

{% block content %}
<div class="container" style="justify-content: center;">
    <div class="row">
        <div class="jumbotron">
            <h2>Escríbenos:</h2>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {% comment %} lo muestra como parrafo {% endcomment %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark btn-m mr-3">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}