{% extends 'base.html' %}

{% block content %}
{% if user.is_superuser %}
<div class="container" style="display: flex; flex-wrap: wrap-reverse;">
    {% for post in object_list %}

    <div class="post">
        <div>
            <h2 style="color: darkslategray;">{{ post.title }}</h2>
            <p style="font-size: small;">Enviado por: {{ post.mail }}</p>
            <p style="font-size: small;">{{ post.created_date }}</p>
            <p>{{ post.text }}</p>
        </div>
    </div>

    {% endfor %}
</div>
{% else %}
<script>
    window.location = "{% url 'home' %}";    
</script>
{% endif %}
{% endblock %}