{% extends 'Productos/base.html' %} {% load static %}

{% block titulo_pagina %} Dulce Despensa - Catálogo {% endblock %}
{% block content %}


<section class="page-section portfolio" id="portfolio">
  <div class="container">

    <!-- Portfolio Section Heading -->
    <h1 class="page-section-heading text-center text-uppercase text-white mb-0">Catálogo de Productos</h1>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>


    <!-- Portfolio Grid Items -->
    <div class="row" style="display: flex; flex-wrap: wrap;">
      {% for prod in object_list %}
      <!-- Portfolio Item 1 -->
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal{{ prod.id }}">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src=/static/images/{{ prod.imagen }} alt="">
        </div>
      </div>


      {% endfor %}
    </div>
    <!-- /.row -->

  </div>


</section>
<!-- Portfolio Modals -->
{% for prod in object_list %}
<!-- Portfolio Modal  -->
<div class="portfolio-modal modal fade" id="portfolioModal{{ prod.id }}" tabindex="-1" role="dialog"
  aria-labelledby="portfolioModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-6">
              <!-- Portfolio Modal - Title -->
              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ prod.nombre }}</h2>
              <!-- Icon Divider -->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image -->
              <img class="img-fluid rounded mb-5" src=/static/images/{{ prod.imagen }} alt="">
              <h1>$ {{ prod.precio }} </h1>
              <!-- Portfolio Modal - Text -->
              <p class="mb-5">{{ prod.descripcion}}</p>
              <button class="btn btn-primary" href="#" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}



<!-- Icon Divider -->
<div class="divider-custom divider-light">
  <div class="divider-custom-line"></div>
  <div class="divider-custom-icon">
    <i class="fas fa-star"></i>
  </div>
  <div class="divider-custom-line"></div>
</div>
































{% endblock %}