{% extends 'base.html' %}
{% block titulo_pagina %} Eliminar Producto - Dulce Despensa {% endblock %}
{% block titulo_principal %} Eliminar Producto {% endblock %}
{% block content %}
{% if user.is_superuser %}
<div class="container" style="justify-content: center;">
    <div class="row">

        <div class="jumbotron">
            <form method="post">
                {% csrf_token %}

                <p class="delete-msg">¿Estás seguro de que quieres eliminar {{ object.nombre }}?</p>

                <a href="{% url 'listar_producto' %}" class="btn btn-secondary">NO</a>
                <button class="btn btn-primary" type="submit">Si</button>
            </form>
        </div>
    </div>
</div>

{% else %}
<h1>No puedes acceder a esta página</h1>
{% endif %}
{% endblock %}