{% extends 'base.html' %}
{% block titulo_pagina %} Productos - Dulce Despensa {% endblock %}
{% block titulo_principal %} Formulario Productos {% endblock %}

{% block content %}
{% if user.is_superuser %}
<div class="container" style="justify-content: center;">
    <div class="row">
        <div class="jumbotron">
            <div class="col-md-7">
                <h1>Formulario Producto</h1>
                <form id="formulario" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- {{ form.as_p }} -->

                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.name}}">{{ field.label_tag }}</label><br>
                        {{ field }}
                        <div class="bg-danger mt-1">{{ field.errors }}</div>
                    </div>
                    {% endfor %}


                    <input type="submit" value="Grabar" class="btn btn-success">

                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<h1>No puedes acceder a esta página</h1>
{% endif %}
{% endblock %}