#logincon{
  background-color:pink ;
  display: grid;
  height: 400px;
  width: 400px;
  align-content: center;
  justify-content: center;

}

.logincon{
  margin-right: 500px;
  margin-top: 100px;
  border-radius: 2%;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px black;

}

#correo{
  margin-left: 56px;
}

#id_txtRut{
  margin-left: 80px;
}
#telefono{
  margin-left: 43px;
}

#registrarse{
  margin-left: 40px;
  width: 250px;

}

#iniciar{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  font-size: 30px;
}





#loginLabel, #contrLabel, #teleLabel, #rutLabel{
  color: aliceblue;

}

.contenido{
  width: auto;
  height: 800px ;
}

@media only screen and (max-width: 991px){
  

  #loginLabel-dark,#contrLabel-dark,#teleLabel-dark,#nombreLabel-dark, #rutLabel-dark{
    display: none;
    
  }

  #correo,#txtPass,#telefono,#id_txtRut{
    margin-left: 0px;
  }

}
